:root {
  --cor-do-fundo: rgb(37, 37, 37);
  --cinza: rgb(73, 73, 73);
  --cinza-claro-2: rgb(128, 128, 128);
  --cinza-claro-3: rgb(208, 208, 208);
}

@font-face {
  font-family: "Noto-Sans-regular";
  src: url("fonts/NotoSans_Condensed-SemiBold.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto-Sans-bold";
  src: url("fonts/NotoSans_Condensed-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto-Sans-regular", sans-serif;
  text-align: center;
  color: black;
}

#lapis{
    display: flex;
}

#fechar {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(212, 40, 40);
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  cursor: pointer;
  transition: ease 0.3s;
}
#fechar:hover {
  transform: translateY(-5px);
  transition: ease 0.3s;
}

    