
:root {
  --cor-do-fundo: 37, 37, 37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(var(--cor-do-fundo));
}


#titulo {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(73, 73, 73);
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#container-cadastro {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#caixa-cadastro {
  width: 35vw;
  height: auto;
  border: rgb(73, 73, 73) 1px solid;
  border-radius: 10px;
  background-color: rgb(73, 73, 73);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.botoes-cadastro {
  margin: 1rem;
  background-color: rgb(73, 73, 73);
}


.input-cadastro {
  padding-left: 1rem;
  width: 20vw;
  height: 2rem;
  margin: 10px;
  border-radius: 50px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.label-cadastro {
  background-color: rgb(73, 73, 73);
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  margin-right: 50px;
}

#obj-cadastro {
  width: 17vw;
}

option {
  background-color: rgb(var(--cor-do-fundo));
  color: #ffffff;
  font-family: "Noto Sans", sans-serif;
  border: none;
}

.logo-cadastro {
  width: 11rem;
  height: auto;
  margin-left: 10px;
  position: fixed;
  top: 50px;
  margin-left: 10px;
  cursor: pointer;
}
#estado-cadastro{
  width: 5vw;
  height: 2rem;
  margin: 10px;
  border-radius: 50px;
  border: none;
  padding-left: 5px;
  background-color: white;
  color: #000000;
  font-family: "Noto Sans", sans-serif;
}
#piso-cadastro{
   background-color: rbg(var(--cor-do-fundo));
  width: 5vw;
  height: 2rem;
  margin: 10px;
  border-radius: 50px;
  border: none;
  padding-left: 5px;
  background-color: white;
  color: #000000;
  font-family: "Noto Sans", sans-serif;
}

#local-cadastro {
  background-color: rbg(var(--cor-do-fundo));
  width: 5vw;
  height: 2rem;
  margin: 10px;
  border-radius: 50px;
  border: none;
  padding-left: 5px;
  background-color: white;
  color: #000000;
  font-family: "Noto Sans", sans-serif;
}

#concluido-cadastro {
  width: 5vw;
  height: 2rem;
  margin: 10px;
  border-radius: 50px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #000000;
  transition: 0.5s;
}
#concluido-cadastro:hover {
  background-color: #45a049;
  cursor: pointer;
  transition: 0.5s;
}

#codigo-cadastro {
  background-color: rgb(73, 73, 73);
  color: aliceblue;
  font-family: "Noto Sans", sans-serif;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

#form-cadastro{
  background-color: var(--cinza);
}