:root {
  --cor-do-fundo: rgb(37, 37, 37);
  --cinza: rgb(73, 73, 73);
  --cinza-claro-2: rgb(128, 128, 128);
  --cinza-claro-3: rgb(208, 208, 208);
}

@font-face {
  font-family: "Noto-Sans-regular";
  src: url("fonts/NotoSans_Condensed-SemiBold.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto-Sans-bold";
  src: url("fonts/NotoSans_Condensed-Black.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto-Sans-regular", sans-serif;
  text-align: center;
  color: white;
}

h1 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 1rem;
  font-family: "Noto-Sans-bold";
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--cor-do-fundo);
}

.logo {
  width: 11rem;
  height: auto;
  margin-left: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.caixa {
  max-width: 50rem;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-do-fundo);
}

button {
  background-color: var(--cinza-claro-2);
  height: 3rem;
  width: 10rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  color: black;
  cursor: pointer;
}

/* CSS da página busca.html: */
#barra-pesquisa {
  width: 70vw;
  height: 2rem;
  border: 1px solid white;
  border-radius: 50px;
  background-color: white;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  text-align: start;
  color: black;
}

.icone-lupa {
  font-size: 16px;
  color: white;
}

table {
  width: 70vw;
  background-color: var(--cinza-claro-2);
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid var(--cinza-claro-2);
  border-radius: 10px;
  overflow: hidden;
}

tr {
  background-color: var(--cinza-claro-2);
  border-radius: 10px;
  border: 1px solid black;
}

th {
  background-color: var(--cinza-claro-2);
  text-align: center;
}

td {
  background-color: var(--cinza-claro-3);
  text-align: center;
  color: var(--cor-do-fundo);
}

.caixa-buscar {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-do-fundo);
}

/* CSS da página atualizar.html: */
